.container {
  padding: 20px;
}

.poster {
  width: 100%;
  height: 300px;
}

.poster-container {
  height: 100%;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center;
}

.flex {
  display: flex;
}

.m-5 {
  margin: 5px;
}

.mt {
  margin-top: "-5px";
}

.mt-40 {
  margin-top: 40px;
}

.ml-5 {
  margin-left: 10%;
}

.ml-10 {
  margin-left: 10px;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.h-0 {
  height: 0px;
}

.comment-but {
  height: 25px;
  margin: 5px;
}

.img {
  width: 600px;
  height: auto;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.inputBox {
  width: 100%;
  height: 30px;
}

.post-but {
  margin: 0px 30px;
}

.comment-container {
  width: 100%;
  height: auto;
}
